<%= form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

      <div class="input-group mb-3 w-50">
        <%= form.label :name , class: "input-group-text" %>
        <%= form.text_field :name, id: :status_name, class: "form-control" %>
      </div>

      <div class="input-group mb-3 w-50">
        <%= form.label :content , class: "input-group-text" %>
        <%= form.text_area :content, id: :status_content, class: "form-control", 'aria-label': "With textarea"  %>
      </div>

  </div>
  

  <div class="actions mb-3">
    <%= form.submit %>
  </div>
<% end %>
